<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Model.WebApp.styles.css" asp-append-version="true" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Entrega</title>
    <link rel="stylesheet" href=".\css\style.css">
    <link rel="icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courier-Prime">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <p><a href="https://github.com/rodrigo-pariente">github.com/rodrigo-pariente</a> | <a href="mailto:rodrigo_pariente@proton.me">rodrigo_pariente@proton.me</a></p>
        <p><a href="https://github.com/rodrigo-pariente/minha-entrega-postgres">minha entrega 🄯 MIT</a></p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
