.actions {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  align-content: end;
  align-items: center;
}

.actions .button {
  height: 2.5rem;
}

/* Actions Dropdown */
.actions .dropdown-button {
  position: relative;
}

.actions .dropdown-actions {
  display: none;
  position: absolute;
}

.actions .dropdown-button:hover .dropdown-actions {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 12px;
  justify-items: left;
  background-color: var(--g2);
}

.actions .dropdown-button .dropdown-action {
  word-break: break-all;
  border: none;
  padding: 12px 11px;
  background-color: transparent;
  border-radius: 5px;
}

.actions .dropdown-button .dropdown-action:active {
  background-color: var(--g1);
}

/* Checkbox */
.actions .checkbox {
  /* margin: 0 60px 0 30px; */
}
