.header {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.header .header-title {
  /* color: var(--b2); */
  margin: 0;
}

.header .img {
  height: 7rem;
  margin-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
}

@media (max-width: 800px) {
  header {
    padding: 30px 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
